// Generated sparse forward/back substitution for {{ mechanism_name }}.
#ifdef MKPP_GENERATED_MECHANISM_NAMESPACE
namespace MKPP_GENERATED_MECHANISM_NAMESPACE {
#endif
namespace mkpp::detail::{{ mechanism_name }} {
void solve_lu(const double* lu, const double* rhs, double* solution) {
  constexpr int N = {{ num_species }};
  double work[N];
{% for step in compiled_forward_steps %}
  work[{{ step.index }}] = {{ step.expr }};
{% endfor %}
{% for step in compiled_backward_steps %}
  solution[{{ step.index }}] = {{ step.expr }};
{% endfor %}
}
}  // namespace mkpp::detail::{{ mechanism_name }}
#ifdef MKPP_GENERATED_MECHANISM_NAMESPACE
}  // namespace MKPP_GENERATED_MECHANISM_NAMESPACE
#endif
