// Generated compiled {{ compiled_kernel }} kernel chunk {{ compiled_chunk_index }}
// for {{ mechanism_name }}.  This file is part of the required compiled-artifact
// pathway; do not include mechanism expressions in host-model translation units.
#include <cmath>
#ifdef MKPP_GENERATED_MECHANISM_NAMESPACE
namespace MKPP_GENERATED_MECHANISM_NAMESPACE {
#endif
namespace mkpp::detail::{{ mechanism_name }} {
void compute_{{ compiled_kernel }}_chunk_{{ compiled_chunk_index }}(
    const double* state, double* {% if compiled_kernel == "rates" %}rates{% else %}jacobian{% endif %},
    const double* jvals, double temp, double rh) {
{% if has_equilibrium %}
  const double Temp = temp;
  const double RH = rh;
  (void)RH;
{% else %}
  (void)temp;
  (void)rh;
{% endif %}
{% if compiled_kernel == "rates" %}
{% for expression in compiled_expressions %}
  rates[{{ expression.index }}] = {{ expression.expr }};
{% endfor %}
{% else %}
{% for expression in compiled_expressions %}
  jacobian[{{ expression.row }} * {{ num_species }} + {{ expression.column }}] = {{ expression.expr }};
{% endfor %}
{% endif %}
}
}  // namespace mkpp::detail::{{ mechanism_name }}
#ifdef MKPP_GENERATED_MECHANISM_NAMESPACE
}  // namespace MKPP_GENERATED_MECHANISM_NAMESPACE
#endif
