[submodule "src/exaero"]
	path = src/exaero
	url = https://github.com/bbakernoaa/ex-aero.git
[submodule "src/isorropialite"]
	path = src/isorropialite
	url = https://github.com/bbakernoaa/ISORROPIA-Iite.git
